@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
/* This is a comment. */
/* CSS Syntax:
 selector {
 	property: value;
 	property: value;
 }
 */

 /* Type Selector */

p { /* select all <p> */
	font-size: 1em; /* 16px, ?pt not the same in all browsers, 100% relative to styling above it, 1em, also a relative size. 1 em = 16px; */
	line-height: 1.5em;
}

figcaption {
	/*font-weight: normal;
	font-size: 0.75em;
	line-height: 1.5em;*/
	/*font-family: Georgia, "New Times Roman", serif;*/
	font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
	color: #777;
	text-align: right;
}

/*Class Selector (applied to as many elements as you like)*/

.milk-text { /*select elements with class="milk-text"*/ 
	font: bold 2.6em 'Elsie Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000; /*horizontal offset, vertical offset, blur radius, color*/
}

/* ID Selectors (apply to one unique element per page) */

#logo { /* select elements with id="logo" */
	background-color: aqua;
}

/* Descendent Selector (select the descendents within the parent element) */

#logo h1 { /* selects <h1> if inside element with id="logo"*/
	font-family: 'Clicker Script', cursive;

}

#logo h2 {
	font-family: 'Elsie Swash Caps';
}

/*Pseudo Class Selector (select an element based on its relationship to other elements or based on its event state)*/

#details a:link, #details a:visited { /* #details a is the descendent selector, :link is the pseudo selector (link state)*/
	color: black;
	text-decoration: none;
}

#details a:hover {
	color: black;
	text-decoration: underline;
}

#details a:active {
	color: red;
}